body {
    margin: 0;
}
img {
    width: 300px;
    background: darkslategray;
}
h1 {
    background: brown;
    color: blue;
}
h2 {
    background: chartreuse;
}
a {
    color: aqua;
}
p {
    background: bisque;
    color: darkmagenta;
}
ul {
    background: darkolivegreen;
}
li {
    background: burlywood;
    color: darkblue;
}
.family {
    /*width: 300px;*/
    /*height: 50vh;*/
    background: silver;
    padding: 50px;
    box-sizing: border-box;
    margin: 100px
;
}
.wrap {
    height: 800px;
    display: flex;
    justify-content: space-evenly;
}
.members {
    width: 300px;

}